body{
    background-image: url('../../public/vetor.svg');
    background-position: top right; /* Posiciona no canto superior direito */
    background-repeat: no-repeat;
    background-size: 700px;
}


.home{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.apresentacao{
    display: grid;
    grid-template-columns: auto;

}

.home img{
    height: 300px;
    margin-top: 90px;
    margin-right: 60px;

}

.home p{
    color: var(--gray);
    opacity: 65%;
    margin-bottom: 10px;
    margin-top: 15px;
}

.home span{
    color: var(--black);
    font-family: Bebas Neue;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: solid;
    line-height: 1.0;
    margin-top: 70px;
    
}

.btn{
    width: 150px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Nunito Sans;
    border: 0;
    border-radius: 9px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn_orange{
    background-color: var(--primary);
    color: var(--white);
}

.btn_orange:hover{
    background-color: var(--yellow);
}

@media(max-width: 768px){
    .home{
        flex-direction: column;
        height: auto;
        text-align: left;
    }
    .home img{
        height: 350px;
        margin-top: 2rem;
        order: 1;
        margin-right: 50px;
        
    
    }
    .home p{
        font-size: 1.8rem;
        
    }
    .home span{
        font-size: 5rem;
    }
    .apresentacao{
        order: 2;
        margin-bottom: 20px;
    }
}

